<form (ngSubmit)="submit()" class="ui form" [formGroup]="form">
  <div class="field">
    N fact
    <input name="nFact"  formControlName="nFact">
    <small *ngIf="this.form.get('nFact')?.errors?.['required'] && form.dirty">Error: required</small>
  </div>
   <div formGroupName="cliente">
    Cliente
    <input type="text" formControlName="nombre">
    <div formArrayName="apellidos">
      <div  class="field" *ngFor="let apellidoControl of apellidos.controls; let i = index ">
           Apellido {{i}}
          <input type="text" [formControlName]="i">
      </div>
    </div>
  </div>

  <div>
    fecha
    <input type="text" name="fecha" formControlName="fecha">
  </div>

  <div>
    importe
    <input type="number" name="importe" formControlName="importe" required [min]="0" [max]="10000">
  </div>

  <button type="submit" class="ui button">enviar</button>
</form>
