<div class="stock-list">
  <div
    *ngFor="
      let stock of stocks;
      index as i;
      odd as impar;
      first as first;
      last as last
    "
    class="stock"
    [ngStyle]="{
      background: 'rgb(200,200,200, ' + i / stocks.length + ')',
      border: last || first ? '3px solid blue' : 'inherit',
      marginTop: 10*i+'px',
    }"
  >
    <div>{{ i }}{{ impar }}{{ first }}{{ last }}</div>
    <div>{{ stock.code }}</div>
    <div
      [ngClass]="{
        up: stock.price > stock.previousPrice,
        down: stock.previousPrice > stock.price,
        mucho: isMucho(stock),
        value: true
      }"
    >
      {{ stock.price }}
    </div>
    <div [appSubrayado]="'green'" >{{ stock.name }}</div>
    <!-- <div *ngIf="stock.price>stock.previousPrice; else bajandoTpl">SUBIENDO!!!</div> -->
    <!-- <div *ngIf="stock.price<stock.previousPrice">BAJANDO!!!</div> -->
    <!-- <ng-template *ngIf="stock.price > stock.previousPrice; then subiendoTpl; else bajandoTpl"></ng-template> -->

    <div [ngSwitch]="stock.estado">
      <span *ngSwitchCase="'up'">Subiendo</span>
      <span *ngSwitchCase="'down'">Bajando</span>
      <span *ngSwitchDefault>Está igual</span>
    </div>
  </div>
</div>

<ng-template #subiendoTpl>
  <div>SUBIENDO</div>
</ng-template>

<ng-template #bajandoTpl>
  <div>BAJANDO</div>
</ng-template>
