<div class="facturas-list">

    <div>Hoy es {{ hoy | date:'d MMMM'}}</div>

    <table class="ui celled striped table">
      <tr>
        <th>
          Cliente
        </th>
        <th>
          Numero de factura
        </th>
        <th>
          Fecha
        </th>
        <th>
          Importe
        </th>
      </tr>
      <tr *ngFor="let factura of facturas" (click)="goTo(factura.id)">
        <td>
          {{ factura.cliente | clientname }}
        </td>
        <td>
          {{factura.nFact}}
        </td>
        <td>
          {{factura.fecha}}
        </td>
        <td>
          {{56.443554 | currency:'CAD':'symbol-narrow':'0.2' }}
        </td>
      </tr>
    </table>
</div>
