<div class="facturas-list">

    <table class="ui celled striped table">
      <tr>
        <th>
          Cliente
        </th>
        <th>
          Numero de factura
        </th>
        <th>
          Fecha
        </th>
        <th>
          Importe
        </th>
      </tr>
      <tr *ngFor="let factura of facturas" (click)="goTo(factura.id)">
        <td>
          {{factura.cliente}}
        </td>
        <td>
          {{factura.nFact}}
        </td>
        <td>
          {{factura.fecha}}
        </td>
        <td>
          {{factura.importe}}
        </td>
      </tr>
    </table>
</div>
